body {
    background: rgb(153, 137, 137);
    color: white;
}

header {
    color: #333;
    background: white;
    width: 100px;
    margin: 20px;
    padding: 30px;
    border:1px solid rgb(4, 16, 19);
}

main {
    background-color: pink;
    padding-left: 100px;
    border:1px solid rgb(4, 16, 19);
}
footer {
    background:lightblue;
    color:black;
    padding:20px;
    border:1px solid rgb(4, 16, 19);
    margin-top:20px;
}