/* *{
    background-color:red;
} */
body{
    background-color:white;
    margin:10px 20%;
    border:1px solid lightgrey;
    padding:2% 5%;
    font-family: "Sofia", sans-serif;
    box-shadow: 5px 5px 5px 5px rgb(230, 225, 225);
}
.subhead{
    background-color: rgb(247, 243, 243);
    padding:6px;

}
.detail{
    line-height:5px;
}
/* display none will not take any space */
/* visibility hidden will take some space before */
.frame{
    display:none;
    /* visibility: hidden; */
}
.des{
    text-indent: 10%;
}
.gitlink{
    text-decoration:none;
}
.gitlink:hover{
    text-shadow: 2px 2px grey;
}
.acadamics>thead>tr>th{
       background-color:rgb(7, 20, 7);
       opacity: 0.9;
       padding:10px;
       color:white;
       text-align:left;
}
.acadamics>tbody>tr{
    background-color:lightgrey;
}
.acadamics>tbody>tr>td{
    padding:10px; 
}
.acadamics>tbody>tr:hover{
     background-color: grey;
}
/* img{
    position:absolute; 
    top:0;
    left:0;
    z-index:-1;
} */
/*mobile view*/
@media screen and (min-width:360px) and (max-width:480px){
    body{
        background-color:white;
        margin:0 0;
        border:1px solid rgb(23, 50, 58);
        padding:2% 5%;
        font-family: "Sofia", sans-serif;
        box-shadow: 5px 5px 5px 5px rgb(230, 225, 225);

}
.detail{
    line-height:normal;
}
}
/*tablet view*/
@media screen and (min-width:481px) and (max-width:680px)
{
    body{
        background-color:white;
        margin:0 0;
        border:1px solid rgb(126, 53, 53);
        padding:2% 5%;
        font-family: "Sofia", sans-serif;
        box-shadow: 5px 5px 5px 5px rgb(230, 225, 225);
    }
    .detail{
        line-height:10px;
    }
}
